@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --topbar-height: 30px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
}

input{
    border: 1px solid #ddd;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1250px;
}

.section {
    margin-top: 30px;
}

.section-header {
    text-align: center;
    margin-bottom: 35px;
}

.section-title {
    text-transform: uppercase;
    font-size: 25px;
}

.section-desc {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.form-error {
    font-size: 12px;
    color: red;
}

/* swiper slide */
.swiper-button-prev,
.swiper-button-next {
    color: #000 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 34px;
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-button-next {
    right: 0 !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    pointer-events: auto !important;
}

/* fixed */

.search {
    position: fixed;
    top:-10%;
    left:0;
    right:0;    
    background-color:#fff;
    z-index: 1001;
    display:flex;
    justify-content:center;
    padding: 0px 0 15px;
    opacity: 0;
    visibility: hidden;
    transition:all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search.show {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.search-logo {
    display:flex;
    justify-content:center;
}

.search-container {
    position: relative;
    width: 100%;
}

.search-form {
    width: 800px;
    position: relative;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
}

.search-form-input {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 7px 112px 7px 10px;
}

.search-form-input::placeholder{
    font-size: 13px;
}

.search-form-btn {
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    font-size: 14px;
    background-color:#000;
    color:#fff;
    padding: 0 25px;
    cursor: pointer;
}

.search-close {
    position:absolute;
    top:10px;
    right:20px;
    font-size: 25px;
    cursor: pointer;
}

.popup-loyalty {
    position: fixed;
    bottom:20px;
    left:50px;
    width: 60px;
    height: 60px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1001;
    background-color:#fff;
}

.popup-loyalty-icon {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    background-color:#ec5569;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.popup-loyalty-content {
    width: 375px;
    height: 450px;
    border-radius:10px;
    background-color:#fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position:fixed;
    bottom:120px;
    left:50px;
    z-index: 1001;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.popup-loyalty-content.show {
    opacity: 1;
    visibility: visible;
    bottom: 130px;
}

.popup-loyalty-content-close{
    position: absolute;
    top: 10px;
    right:10px;
    font-size: 18px;
    cursor: pointer;
}

.popup-loyalty-content-close:hover {
    opacity: 0.7;
}

.popup-loyalty-not-user {
    text-align: center;
    padding: 30px;
}

.popup-loyalty-not-user > h5 {
    font-size: 15px;
    margin-bottom: 80px;
}

.popup-loyalty-not-user > p {
    font-size: 12px;
    font-weight: 600;
    color: #999;
    margin-bottom: 15px;
}

.popup-loyalty-not-user > a {
    width: 100%;
    background: #2979ff;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 25px;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
}

.popup-loyalty-not-user-register {
    font-size: 11px;
}

.popup-loyalty-not-user-register > a {
    color: #2979ff;
}

.popup-loyalty-content-not-user-icon {
    width: 60px;
    height: 60px;
    border-radius: 100rem;
    background-color:#ec5569;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-bottom: 10px;
}

.popup-loyalty-content-user {
    padding: 50px 30px;
    display: flex;
}

.popup-loyalty-content-user-info {
    padding-left: 15px;
}

.popup-loyalty-content-user-info > h5 {
    font-size: 16px;
}

.popup-loyalty-content-user-info > p {
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.popup-loyalty-content-user-info > p > span {
    display: inline-block;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    border-radius: 100%;
    margin-right: 5px;
}

.popup-loyalty-content-user-avatar > img{
    width: 80px;
    height:80px;
    border-radius: 100rem;
}

.to-top {
    position: fixed;
    bottom:30px;
    right:50px;
    width: 60px;
    height: 60px;
    border-radius: 100rem;
    background-color:#000;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    cursor: pointer;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
    z-index: 1001;
}

.to-top.show {
    opacity: 1;
    visibility:visible;
    bottom:20px;
}

/* topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--topbar-height);
    background-color: #f3f3f3;
    padding: 5px 50px;
}

.topbar-block {
    flex: 1;
}

.topbar-block:first-child {
    position: relative;
}

.topbar-block:last-child {
    display: flex;
    justify-content: flex-end;
}

.topbar-block-text {
    font-size: 12px;
    color: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -100%;
    opacity: 0;
}

.topbar-block-text.active {
    left: 0;
    opacity: 1;
    transition: all 0.4s ease;
}

.topbar-block-item {
    display: flex;
    align-items: center;
}

.topbar-block-icon > i {
    font-size: 10px;
}

.topbar-block-hotline {
    color: #e00000;
    font-weight: bold;
    letter-spacing: 0.4px;
    font-size: 12px;
}
/* phone ring ring */
.coccoc-alo-ph-circle {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: 0.1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.coccoc-alo-phone {
    background-color: transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 200000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility 0.5s;
    -moz-transition: visibility 0.5s;
    -o-transition: visibility 0.5s;
    transition: visibility 0.5s;
    right: 150px;
    top: 30px;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.5);
    opacity: 0.75 !important;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill.red {
    background-color: rgba(242, 0, 0, 0.5);
}

.coccoc-alo-ph-circle-fill {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.coccoc-alo-ph-img-circle {
    width: 18px;
    height: 18px;
    top: 6px;
    left: 6px;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.7;
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coccoc-alo-ph-img-circle > i {
    font-size: 10px;
    color: #fff;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
    background-color: #00aff2;
}

.coccoc-alo-phone.coccoc-alo-green.red .coccoc-alo-ph-img-circle.red {
    background-color: #f20000;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
    border-color: #00aff2;
    opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.red .coccoc-alo-ph-circle.red {
    border-color: #f20000;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
    border-color: #75eb50;
    opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
    background-color: rgba(117, 235, 80, 0.5);
    opacity: 0.75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
    background-color: #75eb50;
}

@-moz-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-webkit-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-o-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@-o-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

/* navigation */
.navigation {
    padding: 5px 0;
    z-index: 99;
    height: 90px;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list-open {
    font-size: 32px;
    display: none;
}

.navigation-list-close {
    display: none;
}

.navigation-list {
    display: flex;
}

.navigation-item ~ .navigation-item {
    margin-left: 35px;
}

.navigation-item:hover > .dropdown {
    transform: rotate(0deg);
    visibility: visible;
}

.navigation-item:hover .navigation-link > i {
    transform: rotate(180deg);
}

.navigation-item:hover .navigation-link {
    color: #f56200;
}

.navigation-item:nth-child(3) > .navigation-link > i:last-child,
.navigation-item:nth-child(5) > .navigation-link > i:last-child,
.navigation-item:nth-child(7) > .navigation-link > i:last-child {
    display: none;
}  

.navigation-link {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}

.navigation-link > i {
    font-size: 12px;
    transition: transform 0.3s ease;
}

.navigation-action {
    display: flex;
    align-items: center;
    width: max-content;
}

.navigation-action-item ~ .navigation-action-item {
    margin-left: 25px;
}

.navigation-action-item:nth-child(2){
    position: relative;
}

.cart-product-number {
    position:absolute;
    top: -8px;
    right: -15px;
    width: 22px;
    height: 22px;
    border-radius: 100rem;
    background-color:#d4d2d2;
    color: #000;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    font-weight: bold;
}

.navigation-action-item > i {
    font-size: 22px;
    cursor: pointer;
}

.navigation-action-item > i:hover {
    color: #f56200;
}

.navigation-user-avatar {
    width: 25px;
    height: 25px;
    border-radius: 100rem;
}

.navigation-wrapper.fixed {
    position: fixed;
    animation: navFixed 1s ease forwards,navOpacity 2s ease forwards;
    width: 100vw;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 1000;
    padding: 10px 0;
}

@keyframes navFixed {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

@keyframes navOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* dropdown */
.dropdown {
    position: absolute;
    border: 1px solid #ecf0f1;
    background-color: #fff;
    visibility: hidden;
    transform: rotateX(90deg);
    transition: transform 0.5s ease;
    transform-origin: 0 0 0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    z-index: 100;
}

.dropdown-item:hover > .sub-dropdown {
    visibility: visible;
    transform: rotateY(0deg);
}

.dropdown-link {
    padding: 8px 15px;
    display: block;
}

.dropdown-item ~ .dropdown-item {
    border-top: 1px solid #ecf0f1;
}

.dropdown-link {
    font-size: 13px;
}

.dropdown-link > i {
    font-size: 10px;
    transition: transform 0.3s ease;
    margin-left: 3px;
}

.dropdown-item:hover > .dropdown-link {
    color: #f56200;
}

.dropdown-item:hover > .dropdown-link > i {
    transform: rotate(180deg);
}

.sub-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ecf0f1;
    width: max-content;
    left: 196px;
    top: -1px;
    visibility: hidden;
    transform: rotateY(90deg);
    transition: transform 0.5s ease;
    transform-origin: 0 0 0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    z-index: 100;
}
/* product card */
.product-slide {
    max-height:max-content;
}

.product-item {
    text-align: center;
}

.product-image {
    position: relative;
}

.product-info {
    padding: 10px;
}

.product-info-name {
    font-weight: normal;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    color: #555;
}

.product-info-star {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.product-info-star > span {
    padding-top: 6px;
}

.product-info-star-icon {
    color: #dfe519;
    margin-right: 5px;
}

.product-info-sizes {
    padding: 10px 0;
}

.product-info-sizes-title {
    font-weight: 500;
    padding-right: 5px;
    font-size: 15px;
    display: inline;
}

.product-info-sizes > span {
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    min-width: max-content;
    padding: 3px;
}

.product-info-price {
    font-weight: 600;
    font-size: 15px;
    color: #dc3545;
}

.product-info-price > span {
    color: #999;
    text-decoration:line-through;
    font-weight: 500;
}

.product-info-images {
    display: flex;
    justify-content: center;
    gap: 0 10px;
    margin-top: 10px;
}

.product-info-image-item {
    border: 1px solid #ccc;
    opacity: 0.6;
    cursor: pointer;
}

.product-info-image-item-more {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 100%;
    background-color:#333;
    color: #fff;
    font-size: 12px;
}

.product-info-image-item:hover {
    opacity: 1;
}
/* blog */

.blog-image {
    height: 370px;
    position: relative;
}

.blog-image > a > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog-info-title {
    padding-top: 10px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

/* pagination */
.pagination-container {
    display: flex;
    justify-content:center;
}

.pagination {
    display: flex;
    align-items:center;
    gap:0 10px;
}

.pagination-link {
    background: #fff;
    color: #000;
    width: 33px;
    height: 33px;
    border: 1px solid #DDD;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-weight: 500;
    font-size: 13px;
}

.pagination-link.active {
    background: #000;
    color: #fff;
}

.pagination-link.disable {
    pointer-events: none;
    opacity: 0.5;
}

.pagination-link > span{
    font-size: 18px;
}

/* cart */
.cart-container {
    position: fixed;
    inset: 0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.cart-container.show {
    visibility: visible;
    opacity: 1;
}

.cart {
    width: 30%;
    background-color:#fff;
    padding: 35px 65px;
    position: absolute;
    right:-100%;
    bottom:0;
    top: 0;
    transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow-y: scroll;
    height: 100vh;
}

.cart.show {
    right: 0;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.cart-header-title {
    font-weight: 500;
}

.cart-header-close {
    font-size: 28px;
    cursor: pointer;
}

.cart-product {
    border-bottom: 2px solid #000000;
}

.cart-product-item {
    display:flex;
    align-items:center;
    padding: 20px 0;
}

.cart-product-item ~ .cart-product-item {
    border-top: 1px dotted #bcbcbc;
}

.cart-product-image > img {
    border:1px solid #ddd;
}

.cart-product-info {
    padding-left: 25px;
}

.cart-product-name {
    font-size: 15px;
}

.cart-product-attributes {
    font-size: 12px;
    color:#333;
    opacity: 0.6;
    font-weight: 500;
    padding-bottom: 5px;
}

.cart-product-price {
    color:#333;
    opacity: 0.6;
    font-weight: 600;
    font-size: 14px;
    display:inline;
}

.cart-product-price > span {
    text-decoration:underline;
}

.cart-product-quantity {
    display:inline;
    font-size: 14px;
    padding-left: 10px;
}

.cart-total-price {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-top: 20px;
}

.cart-total-price-title {
    text-transform: uppercase;
}

.cart-button {
    margin-top: 30px;
    display: flex;
    align-items:center;
    gap: 10px;
}

.cart-button > a{
    font-weight: 600;
    font-size: 13px;
    border: 1px solid #000;
    padding: 7px 25px;
    cursor: pointer;
    background-color:#DBDEF3;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
    text-transform:uppercase;
    transition: all 0.05s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.cart-button > a:hover {
    background-color:transparent;
}

.cart-button > a{
    flex: 1;
}

/* footer */
.footer {
    padding: 35px 0px 0px;
    background: #1c1d26;
    color: #bdbdbd;
}

.footer-header {
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.footer-header-title > span {
    color: #f7f70d;
}

.footer-contact-btn,
.footer-header-btn {
    background-color: #f7f70d;
    color: #000;
    padding: 0 25px;
    height: 37.5px;
    font-weight: bold;
    cursor: pointer;
}

.footer-title {
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
}

.footer-link > h3 {
    font-size: 13px;
    margin-bottom: 5px;
}

.footer-policy-link,
.footer-link > p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
}

.payment-title,
.footer-has-phone > h3 {
    font-size: 13px;
    margin-bottom: 5px;
}

.footer-has-phone > p {
    font-size: 10px;
    margin-bottom: 10px;
}

.footer-phone-number {
    display: flex;
    align-items: center;
}

.footer-payment {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.footer-contact-desc {
    color: #fff;
    font-size: 13px;
    margin-bottom: 10px;
}

.footer-contact-btn {
    margin-bottom: 10px;
}

.footer-icon {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-icon > a > i {
    font-size: 32px;
    display: inline-block;
    margin-right: 10px;
}

/* alert */
.auth-alert,
.product-alert {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    position: relative;
    padding: 0.5rem 1.5rem 0.5rem 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.15rem;
    margin-top: 15px;
    font-size: 12px;
    max-width: max-content;
    width: 250px;
}

.product-alert.warning {
    background-color: goldenrod;
    color: #fff;
}

.product-alert-error {
    font-weight: 500;
    font-size: 15px;
    position: fixed;
    inset: 0;
    background-color:rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.2s ease;
    visibility: hidden;
}

.product-alert-error.show {
    opacity: 1;
    visibility: visible;
}

.product-alert-error-content {
    background-color: #fff;
    width: 350px;
    padding: 25px;
    height: max-content;
    border-radius: 10px;
    position:absolute;
    top: calc(-100% + 15px);
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

.product-alert-error-content.show {
    top: 100px;
}

.auth-alert-close,
.product-alert-close {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 14px;
    cursor: pointer;
}

.product-alert-error-close {
    display:block;
    margin-top: 10px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 7px 20px;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
    width: max-content;
}
