/* popular category */
.category-popular {
    display: grid;
    grid-template-rows: 500px 500px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.category-popular-item {
    position: relative;
}

.category-popular-item:nth-child(4){
    grid-column: -4/-2;
}

.category-popular-item:nth-child(4) .category-popular-content-name,
.category-popular-item:nth-child(5) .category-popular-content-name{
    display: none;
}

.category-popular-image {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.category-popular-image > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-image-overlay,
.blog-image-overlay,
.category-popular-image-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

.category-popular-content {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: max-content;
}

.category-popular-content-name {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-shadow: rgb(0 0 0) 2px 5px 30px;
    margin-bottom: 10px;
}

.button-all,
.category-popular-content-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 8px 35px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition:all 0.3s ease;
}

.button-all:hover,
.category-popular-content-btn:hover {
    border: 2px solid #fff;
    background-color: #000;
}

.button-all:hover > a,
.category-popular-content-btn:hover > a {
    color: #fff;
}

.button-all {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: max-content;
}
/* new product */
.blog-section,
.category-trent-section,
.new-product {
    background-color: #f7f5f3;
    padding: 30px 0px 35px;
}